@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Mono:wght@100..900&family=Outfit:wght@100..900&display=swap');

:root {

  /** COLORS **/
  --color-primary: #f3bcbc;
  --color-accent: #f8ecec;
  --color-neutral: #6b727e;
  --color-bg: #DC9B9B;
  --color-fg: #040911;
  --color-surface: #E5EEE4;
  --color-border: #dbb1b1;
  --color-light: #f7f7f7;
  --color-lighter: #e3afaf;

  /* Borders */
  --border-thin: 1px;

  /** RADII **/
  --radius-md: 8px;

  /** FONTS **/
  --font-heading: "Outfit", ui-sans-serif, system-ui, sans-serif;
  --font-body: "Noto Sans Mono", ui-sans-serif, system-ui, sans-serif;
  --leading-base: 1.5;
  --leading-tight: 1.2;
  --weight-heading: 800;
  --weight-body: 600;
  --weight-light: 400;
  --text-xs: 10.24px;
  --text-sm: 12.8px;
  --text-base: 16px;
  --text-lg: 20px;
  --text-xl: 25px;
  --text-2xl: 31.25px;
  --text-3xl: 39.06px;
  --text-4xl: 48.83px;
  --text-5xl: 61.04px;

  
  /* Spacing */
  --space-1: 2px;
  --space-2: 4px;
  --space-3: 8px;
  --space-4: 12px;
  --space-5: 16px;
  --space-6: 24px;
  
  /* Opacity */
  --opacity-disabled: 0.4;
  --opacity-muted: 0.55;

}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
}

body p, button{
  font-family: var(--font-body);
  font-size: var(--text-base);
  font-weight: var(--weight-body);
}

body input{
  font-family: var(--font-body);
  font-size: var(--text-base);
  font-weight: var(--weight-light);
}

p {
  color: var(--color-fg);
}

.card {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  margin: var(--space-3);
  border: solid var(--border-thin) var(--color-border);
  border-radius: var(--radius-md);
  background-color: var(--color-surface);
  color: var(--color-surface);
  min-width: calc(100% - var(--space-3)*2);
  min-height: calc(100vh - var(--space-3)*2);
}

.header {
  display: flex;
}

.action-section {
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;
}

.title-card {
  color: var(--color-fg);
  margin: var(--space-5) var(--space-6);
}

.title-card .title-text{
  font-family: var(--font-heading);
  text-align: left;
  font-size: var(--text-xl);
  font-weight: var(--weight-heading)
}

.title-card .todos-left{
  font-size: var(--text-sm);
  opacity: var(--opacity-muted);
}

.title-card p{
  margin: 0;
  padding: 0;
}

.filter-buttons {
  margin: var(--space-2) var(--space-4);
  display: flex;
}

.filter-buttons button {
  margin: 0px 1px; /** Spacing between buttons **/
  padding: var(--space-2) 0px;
  background-color: var(--color-light);
  min-width: 100px;
  border: solid var(--border-thin) var(--color-border);
  border-radius: 0px;
  flex: 1;
}

.filter-buttons button:first-child {
  border-radius: 5px 0px 0px 5px;
  margin-left: 0;
}

.filter-buttons button:last-child {
  border-radius: 0px 5px 5px 0px;
  margin-right: 0;
}

.filter-buttons button:not(.selected-filter):hover {
  background-color: var(--color-accent);
}

.filter-buttons .selected-filter {
  background-color: var(--color-primary);
}

.input-section {
  height: var(--space-6);
  display: flex;
  gap: 5px;
  margin: 5px var(--space-4);
}

.input-section input {
  flex: 1;
  padding: var(--space-3) var(--space-3);

  border: var(--border-thin) solid var(--color-border);
  border-radius: var(--radius-md);
  background-color: var(--color-light);
}

.input-section input:focus {
  outline-style: outset;
  border-color: var(--color-primary);
  outline: 2px solid rgb(from var(--color-primary) r g b / var(--opacity-disabled));
}

.input-section button {
  flex: 0.1;
  align-self: stretch;
  padding: var(--space-2), 0;
  border-radius: 5px;
  
  border: var(--border-thin) solid var(--color-border);
  color: var(--color-fg);
  background-color: var(--color-primary);
}

.input-section button:hover {
  flex: 0.1;
  align-self: stretch;
  padding: var(--space-2), 0;
  border-radius: 5px;

  background-color: var(--color-primary);
  color: var(--color-surface);
  border: var(--border-thin) solid var(--color-primary);
}

main ul {
  list-style: none;
  padding: 0;
}

.todo-objects li {
  display: flex;
}

.todo-objects li p{
  margin-left: 1rem;
}

.todo-objects li button{
  margin: var(--space-3);
  min-width: 5vw;
  min-height: 1.5rem;

  font-size: var(--font-heading);

  border-radius: var(--radius-md);
  border: var(--border-thin) solid --color-border;
  background-color: transparent;
}

.todo-objects li button:first-of-type{
  margin-left: auto;
}

.todo-objects li button:hover{
  box-shadow: 2px 2px 1px var(--color-neutral),
  inset 1px 1px 1px var(--color-surface);
  border: var(--border-thin) solid --color-border;
}

.content-box {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}

.content-box .placeholder {
  flex: 1;
  opacity: var(--opacity-muted);
  text-align: center;
}

.task-completed {
  background-color: var(--color-neutral);
}

.task-completed p {
  text-decoration: line-through;
}

.task-active {
  background-color: var(--color-primary);
}

.task-active.lighter {
  background-color: var(--color-lighter);
}

.task-editing {
  display: flex;
  resize: none;
  flex: 1;
  field-sizing: content;
  height: auto;
  border: 0;
  outline: 0;
  background: transparent;
  margin-left: 2rem;
  padding: var(--space-4) 0;
}

.todo-objects li textarea:focus{
  border: 0;
}